body {
  background: #f3eeef;
}
.root {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.counterContainer {
  display: inline-block;
  position: relative;
  margin: auto;
  top: 50%;
  text-align: center;
}
.counterButton {
  width: 60px;
  height: 60px;
  margin-top: -30px;
  font-size: 20pt;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #fff;
  border: 1px solid #ccc;
}
.counterButton:focus {
  outline: none;
}
.counterButton:active {
  background: #fafafa;
}
.counterButton.minus {
  left: -80px;
}
.counterButton.plus {
  right: -80px;
}
.counter {
  display: inline-block;
  position: relative;
  border: 1px solid #ddd;
  width: 170px;
  height: 220px;
  font-size: 150pt;
  text-align: center;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  margin-top: -110px;
}
.counter.small {
  width: 120px;
  height: 150px;
  font-size: 110pt;
  margin-top: -75px;
}
.counter span {
  height: 100%;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: inline-block;
}
.counter span.before {
  display: none;
}
.counter.decrease span {
  transform: translate(0, -100%);
  animation: spinUp 0.5s;
}
.counter.decrease span.before {
  display: block;
  bottom: 0%;
}
.counter.decrease span.after {
  bottom: -100%;
}
.counter.increase span {
  transform: translate(0, 100%);
  animation: spinDown 0.5s;
}
.counter.increase span.before {
  display: block;
  bottom: 0%;
}
.counter.increase span.after {
  bottom: 100%;
}
@keyframes spinUp {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -100%);
  }
}
@keyframes spinDown {
  from {
    transform: translate(0, 0%);
  }
  to {
    transform: translate(0, 100%);
  }
}
